body{
    margin: 0px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 15px 40px;
    font-weight: bold;
    border-radius: 200px;
    font-size: 30px;
    border: none;
    background-color: #252486;
    color: #fff;
    transition: 300ms;
    cursor: pointer;
    -webkit-box-shadow: -4px -1px 58px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 58px 0px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 58px 0px rgba(0,0,0,0.75);
}

button:hover{
    background-color: #1b1a5f;
    -webkit-box-shadow: -4px -1px 157px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 157px 0px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 157px 0px rgba(0,0,0,0.75);
}