@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
    color-scheme: light dark;
    --grass: #78C850;
    --fire: #f08030;
    --water: #6890f0;
    --bug: #a8b820;
    --normal: #a8a77a;
    --poison: #a040a0;
    --electric: #f8d030;
    --ground: #e0c068;
    --fairy: #ee99ac;
    --fighting: #c03028;
    --psychic: #f85888;
    --rock: #b8a038;
    --ghost: #705898;
    --ice: #98d8d8;
    --dragon: #7038f8;
    --dark: #3a2d23;
    --steel: #b7b7ce;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url('https://i.pinimg.com/originals/6e/f6/2b/6ef62b28c7e65f900ae813a377d99f51.png');
}