<div id="backdrop">
    <div class="container section pb-4">
        <h1 class="title is-size-3"></h1>
        <div class="tagline"></div>
    </div>
</div>

<div class="container movie-details">
    <section class="section">

        <div class="columns">
            <div class="column">
                <p class="movie-content"></p>
                <div class="icon-text is-size-4 my-4">
                    <span class="icon has-text-warning">
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span id="rate"></span>
                </div>

                <a id="website" target="_blank">Visitar sitio oficial</a>

                <div id="genres" class="tags are-large mt-4"></div>
            </div>


            <div class="column">

                <div class="video">
                    <figure class="image is-16by9">
                        <iframe class="has-ratio" width="640" height="360" src="" frameborder="0" allowfullscreen></iframe>
                      </figure>

                </div>
            </div>

        </div>

    </section>

</div>