<div class="container">
    <section class="section">
        <div class="control has-icons-left">
            <form id="form-search-view">
                <input id="input-search-view" class="input is-medium" type="text" placeholder="Buscar"
                    autocomplete="off">
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </form>
        </div>

        <h1 class="title is-size-4 mt-5" id="search-title"></h1>
        <div id="movies">
            <div class="columns is-multiline is-mobile is-centered"></div>
        </div>
    </section>

</div>